<div class="role-select-container">
  <div class="image-panel">
    </div>
  <div class="selection-panel">
    <h2>Create a new account</h2>
    <p>You can register on the site by creating a student or parent account.</p>
    <div class="card-container">
      <a class="role-card" routerLink="/signup/STUDENT">
        <i class="icon-student"></i> <span>Student</span>
      </a>
      <a class="role-card" routerLink="/signup/PARENT">
        <i class="icon-parent"></i> <span>Parent</span>
      </a>
    </div>
  </div>
</div>