@use '../auth.styles.css';

form {
  width: 100%;
  
}

.form-group {
  margin-bottom: 1rem;
  
  width: 100%;
  text-align: left; 
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  width: 100%;
}

label {
  display: block;
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

label::after {
  content: ' *';
  color: #e74c3c;
}

input,
select {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.helper-text {
  font-size: 0.75rem;
  color: #666;
  margin-top: 4px;
  margin-bottom: 1rem;
  text-align: left;
  width: 100%;
}

.terms-text {
  font-size: 0.8rem;
  color: #777;
  margin-top: 1rem;
  text-align: center;
}

button[type='submit'] {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1.5rem;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}