<div class="course-list-item">
  <div class="item-thumbnail">
    <a [routerLink]="['/courses', course.id]">
      <img [src]="course.image" alt="{{ course.title }}">
    </a>
  </div>
  <div class="item-details">
    <h3 class="item-title"><a [routerLink]="['/courses', course.id]">{{ course.title }}</a></h3>
    <p class="item-description">{{ course.description }}</p>
    <p class="course-author" *ngIf="course.author">
      {{ course.author.firstName }} {{ course.author.lastName }}
    </p>
     <div class="course-rating" *ngIf="course.rating">
      <span class="rating-number">{{ course.rating | number:'1.1-1' }}</span>
      
      <app-star-rating [rating]="course.rating"></app-star-rating>
      
      <span class="rating-count">({{ course.ratingCount | number }})</span>
    </div>
    <div class="item-meta" *ngIf="course.totalDuration">
      <span>{{ course.totalDuration / 60 | number:'1.0-1' }} total hours</span>
    </div>
  </div>
  <div class="item-price">
    <span class="current-price">${{ course.price }}</span>
    <span class="old-price" *ngIf="course.oldPrice">${{ course.oldPrice }}</span>
  </div>
</div>