<nav class="navbar">
  <div class="nav-section nav-left">
    <a class="navbar-brand" routerLink="/">E-Learning</a>
    <div class="explore-menu-wrapper" 
     (mouseenter)="isExploreMenuOpen = true" 
     (mouseleave)="isExploreMenuOpen = false">
  
  <a class="nav-link explore-link">Explore ▼</a>
  
  <div class="explore-dropdown" *ngIf="isExploreMenuOpen">
      <h4>Explore by Division</h4>
      <ul>
        <li *ngFor="let division of divisions">
          <a [routerLink]="['/courses']" 
            [queryParams]="{ division: division }"
            (click)="isExploreMenuOpen = false">
            {{ division.replace('_', ' ') }}
          </a>
        </li>
      </ul>
    </div>
  </div>

  </div>

  <div class="nav-section nav-center">
    <div class="search-container">
      <img src="/assets/icons/search-icon.svg" class="search-icon" alt="Search">

      <input 
        type="text" 
        class="search-bar" 
        placeholder="Search for anything..."
        (input)="onSearch($event)">
    </div>
  </div>

  <div class="nav-section nav-right">
    <a routerLink="/courses" class="nav-link">Courses</a>

    <ng-container *ngIf="!(isLoggedIn$ | async)">
      <a routerLink="/login" class="nav-link">Log In</a>
      <a routerLink="/signup" class="nav-button">Sign Up</a>
    </ng-container>

    <ng-container *ngIf="isLoggedIn$ | async"> 
      <a *ngIf="(userRole$ | async) === 'ADMIN'" routerLink="/admin/create-course" class="nav-link">
        Create Course
      </a>
      <a *ngIf="(userRole$ | async) === 'ADMIN'" routerLink="/admin/users" class="nav-link">
        Manage Users
      </a>
      <a *ngIf="(userRole$ | async) === 'ADMIN'" routerLink="/admin/dashboard" class="nav-link">Dashboard</a>
      <a routerLink="/my-courses" class="nav-link">My Courses</a>
      <a (click)="logout()" class="nav-link" style="cursor: pointer;">Logout</a>
    </ng-container>
  </div>
</nav>