<nav class="navbar">
  <div class="nav-section nav-left">
    <a class="navbar-brand" routerLink="/">E-Learning</a>
    <div class="explore-menu-wrapper" 
     (mouseenter)="isExploreMenuOpen = true" 
     (mouseleave)="isExploreMenuOpen = false">

  <a class="nav-link explore-link">Explore ▼</a>
  
  <div class="explore-dropdown" *ngIf="isExploreMenuOpen">
      <h4>Explore by Division</h4>
      <ul>
        <li *ngFor="let division of divisions">
          <a [routerLink]="['/courses']" 
            [queryParams]="{ division: division }"
            (click)="isExploreMenuOpen = false">
            {{ division.replace('_', ' ') }}
          </a>
        </li>
      </ul>
  </div>
 </div>

  </div>

  <div class="nav-section nav-center">
   <form (ngSubmit)="onSearchSubmit(searchQuery)" #searchForm="ngForm" novalidate>
      <div class="search-container">
        <img src="/assets/icons/search-icon.svg" class="search-icon" alt="Search">
        <input 
          type="text"
          name="q"
          class="search-bar"
          placeholder="Search for anything..."
          [(ngModel)]="searchQuery">
      </div>
    </form>


  </div>

  <div class="nav-section nav-right">
  
    <ng-container *ngIf="!(isLoggedIn$ | async)">
      <a routerLink="/signup/INSTRUCTOR" class="nav-link">Teach with us</a>
      <a routerLink="/login" class="nav-link">Log In</a>
      <a routerLink="/signup" class="nav-button">Sign Up</a>
    </ng-container>

    <ng-container *ngIf="isLoggedIn$ | async">
      
      <a *ngIf="(userRole$ | async) === 'INSTRUCTOR' || (userRole$ | async) === 'ADMIN'"
        routerLink="/instructor/courses"
        class="nav-link">
        Instructor
      </a>

      <a *ngIf="(userRole$ | async) === 'ADMIN'" routerLink="/admin/create-course" class="nav-link">
        Create Course
      </a>
      <a *ngIf="(userRole$ | async) === 'ADMIN'" routerLink="/admin/users" class="nav-link">
        Manage Users
      </a>
      <a *ngIf="(userRole$ | async) === 'ADMIN'" routerLink="/admin/dashboard" class="nav-link">
        Dashboard
      </a>
      
      <a routerLink="/my-courses" class="nav-link">My Courses</a>

      <a routerLink="/cart" class="cart-icon-wrapper">
        <img src="assets/icons/cart-icon.png" alt="Cart" class="cart-icon">
        <span *ngIf="itemCount$ | async as count" class="cart-badge">
          {{ count }}
        </span>

      </a>

     <div class="profile-menu-wrapper" 
       (mouseenter)="isProfileMenuOpen = true" 
       (mouseleave)="isProfileMenuOpen = false">
    
          <app-avatar *ngIf="currentUser$ | async as user"
              [avatarUrl]="user.avatarUrl"
              [firstName]="user.firstName"
              [lastName]="user.lastName"
              class="profile-avatar">
          </app-avatar>


        <div class="profile-dropdown" *ngIf="isProfileMenuOpen">
          <div class="dropdown-header" *ngIf="currentUser$ | async as user">
            <app-avatar [avatarUrl]="user.avatarUrl"
                  [firstName]="user.firstName"
                  [lastName]="user.lastName"
                  class="dropdown-avatar">
            </app-avatar>
            <div class="user-info">
              <strong>{{ user.firstName }} {{ user.lastName }}</strong>
              <span>{{ user.email }}</span>
            </div>
          </div>
          <ul class="dropdown-links">
            <li><a routerLink="/my-courses" (click)="isProfileMenuOpen=false">My learning</a></li>
            <li><a routerLink="/cart" (click)="isProfileMenuOpen=false">My cart</a></li>
          </ul>
          <ul class="dropdown-links">
            <li><a routerLink="/profile" (click)="isProfileMenuOpen=false">Account settings</a></li>
            <li><a routerLink="/profile/payment" (click)="isProfileMenuOpen=false">Payment methods</a></li>
          </ul>
          <ul class="dropdown-links">
            <li><a routerLink="/help">Help and Support</a></li>
            <li><a (click)="logout()" style="cursor: pointer;">Log out</a></li>
          </ul>
        </div>
      </div>
    </ng-container>
  </div>

</nav>