:host {
  display: block;
  background-color: #f0f8ff;
}

.auth-page-container, .role-select-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  height: 100vh;
  width: 100%;
  
}

.image-panel {
  background-color: #f0f8ff; 
  background-image: url('/assets/images/mydrawing.svg');
  
  background-size: contain; 
  background-position: center;
  background-repeat: no-repeat;
}

.form-panel, .selection-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding: 2rem;
  background-color: #f0f8ff;
}

form {
  width: 100%;
  max-width: 450px; 
}